<div class="con-nav-1">


  <div class="hamburger" (click)="isMenuOpen = !isMenuOpen">
    <span></span><span></span><span></span>
  </div>

  
  <div class="menu" [class.open]="isMenuOpen">
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
         (click)="isMenuOpen = false">Home</a>
    </div>
    <div class="nav-links">
      <a routerLink="/orders" routerLinkActive="active"
         (click)="isMenuOpen = false">Orders</a>
    </div>
    <div class="nav-links">
      <a routerLink="/built" routerLinkActive="active"
         (click)="isMenuOpen = false">Builds</a>
    </div>
    <div class="nav-links cart">
      <a routerLink="/cart" routerLinkActive="active"
         (click)="isMenuOpen = false">
        <span class="material-icons">shopping_cart</span> Cart
      </a>
    </div>
  </div>

</div>
