.con-nav-1 {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: black;
  color: orange;
  border-radius: 10px;
  border-bottom: solid red;
}

.con-nav-1 .nav-items {
  display: flex;
  align-items: center;
}

.nav-items {
  padding: 10px;
  display: flex;
}

.nav-item {
  margin: 0 10px;
}

/* Pizza logo */
.logo {
  width: 28px;
  height: 28px;
  margin-right: 6px;
}

/* login to right */
.nav-item.login {
  margin-left: auto;
}

/* default links */
.nav-item a {
  font-size: 15px;
  text-decoration: none;
  color: orange;
  padding: 6px 10px;
  border-radius: 6px;
  transition: 0.3s;
  font-weight: 600;
}
.nav-item svg {
  margin-right: 6px;
  vertical-align: middle;
}


/* hover effect */
.nav-item a:hover {
  background-color: orange;
  color: black;
}

/* active style */
.nav-item a.active {
  background-color: orange;
  color: black;
}
