
<h1>Order Page</h1>
<button (click)="getdatas()">Get</button>
<button (click)="cleardata()">Clear</button>
<div class="con-1">
    <div *ngFor="let d of pizza" class="cart">
        <div class="pizza">
            <p>{{d.name}}</p>
            <p>{{d.type}}</p>
            <p>{{d.price}}</p>
            <p>{{d.description}}</p>
            <img [src]="d.image" style="width: 170px; height: 170px;">
        </div>
        <div *ngIf="isClicked; else elseblock">

        </div>
        <ng-template #elseblock>
            <div></div>
        </ng-template>
    </div>
</div>

