
<h1>Order Page</h1>


<div class="con-1">
    <div *ngFor="let d of pizza" class="cart">
        <div class="pizza">
            <p>{{d.name}}</p>
            <div *ngIf="d.type=='Non-Veg'; else elseblock1">
                <img [src]="nonveg" style="width: 30px; height: 30px;">
            </div>
            <ng-template #elseblock1>
                <img [src]="veg" style="width: 30px; height: 30px;">
            </ng-template>
            <p>{{d.price}}</p>
            <p>{{d.description}}</p>
            <img [src]="d.image" style="width: 170px; height: 170px;">
            <h3>Ingredients:</h3> <p>{{d.ingredients}}</p>
            <h4>Toppings: </h4><p>{{d.toppings}}</p>
            <button (click)="addcart()">Add to cart</button>
            <p>QTY</p>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                
            </select>
            
        </div>
        <div *ngIf="isClicked; else elseblock">

        </div>
        <ng-template #elseblock>
            <div></div>
        </ng-template>
    </div>
</div>

