.pizza{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fff;
    width:600px;
    margin: auto;
    margin-top: 30px;
    padding: 50px;
    padding: auto;
    border-radius: 10px;
    border-left:solid;
    border-left-width: 10px;
    border-left-color: orange;
}

.con-1{
    display: flex;
    flex-wrap: wrap;
}
.con-2{
    display: flex;
}
.piznames{
    display: flex;
    align-items:center;
}
.cart{
    flex: 1 0 40%;
    display: flex;
    width: 50%;
}

@media(max-width:700px){
    .pizza{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        margin: auto;
        width:300px;
        margin-top: 30px;
        padding: 50px;
        padding: auto;
        border-radius: 10px;
        border-left:solid;
        border-left-width: 10px;
        border-left-color: orange;
    }
    .con-1{
        display: flex;
        flex-direction: column;
    }
    .cart{
        width: fit-content;
        margin: auto;
    }
}